.header {
  height: 95vh;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  position: relative;
  background-position: center;
  @include greenImageGradient("../images/hero-small.jpg");

  @media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
    @include greenImageGradient("../images/hero.jpg");
  }

  @include respond(phone) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  }
  
  &__logo {
    & img {
      height: 3.5rem;
      position: absolute;
      top: 4rem;
      left: 4rem;
    }
  }
  
  &__hero-box {
    @include absoluteCenter;
    top: 40%;
    text-align: center;
    backface-visibility: hidden;
  }
}

