*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* this defines what 1 rem is -- to keep the default font-size of the browser 16px as it is but we work like if it is 10px to make our lives easier*/ //1rem = 10px

  @include respond(big-desk) {
    font-size: 75%;  //1rem = 12px
  }

  @include respond(tab-land) {
    font-size: 56.25%;  //1rem = 9px
  }

  @include respond(tab-port) {
    font-size: 50%;  //1rem = 8px
  }
}

body {
  width: 100%;
  overflow-x: hidden;
  padding: 30px;
  box-sizing: border-box;

  @include respond(tab-port) {
    padding: 0;
}
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

::selection {
  background-color: $primary;
  color: $white;
}
