/* GLOBAL */

body {
  font-family: "lato", "sans-serif";
  font-weight: 400;
  line-height: 1.7;
  color: $grey-2;
}

a {
  text-decoration: none;
}

/* HEADLINES */

.headline-1 {
  color: $white;
  text-transform: uppercase;
  margin-bottom: 6rem;

  &__main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: moveInRight 1s ease-out;

    @include respond(phone) {
      letter-spacing: 1rem;
      font-size: 4.5rem;
    }
  }

  &__sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInLeft 1s ease-out;

    @include respond(phone) {
      font-size: 1.5rem;
      letter-spacing: .8rem;
  }
  }
}


.headline-2 {
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: .2rem;
  text-transform: uppercase;
  text-align: center;
  transition: all .2s;

  @include respond(tab-port) {
    font-size: 3rem;
  }

  @include respond(phone) {
      font-size: 2.5rem;
  }
  
  span {
    @include greenIconGradient;
  }

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba($black, .2);
  }

  &--b-margin-lg {
    margin-bottom: 8rem;

    @include respond(tab-port) {
      margin-bottom: 4rem;
    }
  }
}

/* CONTENT */
.generic-content {
  font-size: 1.6rem;

  h3 {
    font-size: inherit;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
  }

  &:not(:last-child) {
    margin-bottom: 3rem;
  }

  &--centered {
    text-align: center;
  }
}



