.story {
    background-color: rgba($white, .6);
    box-shadow: 0 3rem 6rem rgba($black, .1);
    width: 75%;
    margin: 0 auto;
    padding: 6rem;
    padding-left: 9rem;
    border-radius: 3px;
    transform: skewX(-12deg);

    @include respond(tab-port) {
        width: 100%;
        padding: 4rem;
        padding-left: 7rem;
    }

    @include respond(phone) {
        transform: skewX(0);
        padding: 4rem;
    }

    /* Circle shape and wrapping text styling */

    &__figure{
        width: 15rem;
        height: 15rem;
        float: left;
        clip-path: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        transform: translateX(-3rem) skewX(12deg);
        overflow: hidden;

        @include respond(phone) {
            transform: translateX(-3rem) skewX(0);
            float: none;
            margin: 0  auto 3rem auto;
            shape-outside: none;
        }
    }

    &__figure__image {
        height: 100%;
        transform: translateX(-4rem) scale(1.4);
        transition: all .5s;
        backface-visibility: hidden;
        
    }

    &__figure__caption {
        color: $white;
        font-size: 1.7rem;
        text-transform: uppercase;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        text-align: center;
        opacity: 0;
        transition: all .5s;
    }

    &__text {
        transform: skewX(12deg);

        @include respond(phone) {
            transform: skewX(0);
        }
    }

    &:hover &__figure__image {
        transform: translateX(-4rem) scale(1);
        filter: blur(3px) brightness(80%);
    }

    &:hover &__figure__caption {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}